extends layout

block content

	!= js('files')
	!= js('libs/ace.js')
	script(src="/channel/bcsocket.js")
	script(src="/share/share.js")
	script(src="/share/ace.js")

	.container
		include navigation
		input#project-id(type="hidden", value= project._id)
		input#project-name(type="hidden", value= project.name)
		.row
			.col-lg-3
				.navbar.col-lg-12
				#tree-view.col-lg-12
			.col-lg-9.project-information
				ol.breadcrumb.col-lg-6.file-path
					li
						a(href="#")= project.name
				ul.navbar.navbar-nav.nav.col-lg-6.file-operations
					li.file-operation.file-close.pull-right.disabled
						.op-mask
						a(href="#", title="close")
							img.file-op-image(src="/img/close.png")
					li.file-operation.file-logs.pull-right.disabled
						.op-mask
						a(href="#", title="logs")
							img.file-op-image(src="/img/log.png")
					li.file-operation.file-run.pull-right.disabled
						.op-mask
						a(href="#", title="run")
							img.file-op-image(src="/img/run.png")
				.row
					.col-lg-12
						#editor-container
							#editor
						#logs-container
							textarea#logs.form-control(type="text", rows="10", disabled)
	- confirm = {text: '', warning: true}
	include modals/confirm
	include modals/file_form
