.right-bar
.main-bar
	min-height: 900px!important
.right-bar
	background: rgba(0, 0, 0, 0.5)
.main-bar
	.text-bar
	.result-bar
		min-height: 400px!important
		textarea
			max-width: 100%
			background: white!important
	.text-bar
		padding-bottom: 10px

